@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 248, 250, 252;
    /* Slate-50 */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 15, 23, 42;
        /* Slate-900 */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

/* Map container fix */
.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 0;
}